.gradle/
build/
out/
run/
runs/
!runs/
runs/*
!runs/client/
runs/client/*
!runs/client/config/
runs/client/config/*
!runs/client/config/gisketchs_chowkingdom_mod/
!runs/client/config/gisketchs_chowkingdom_mod/**
runs/client/config/gisketchs_chowkingdom_mod/discord/
runs/client/config/gisketchs_chowkingdom_mod/json-backup/discord/
runs/client/config/gisketchs_chowkingdom_mod/npcs/settings.toml
runs/client/config/gisketchs_chowkingdom_mod/json-backup/npcs/settings.json
logs/
*.log
*.ipr
*.iws
*.iml
.idea/
.vscode/
!/.vscode/extensions.json
.github/
openspec/
src/generated/resources/.cache/
refs/**
